<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toonplus.toon.dao.ToonMapper">

	<select id="selectToon" resultType="com.toonplus.toon.dto.Toon">
		SELECT TOON_LINK, TOON_IMAGELINK,TOON_PLATFORM FROM toon_table
	</select>

	<select id="selectToonByName" resultType="com.toonplus.toon.dto.Toon">
		SELECT TOON_LINK, TOON_IMAGELINK,TOON_PLATFORM FROM toon_table
		ORDER BY Toon_name ASC
	</select>

	<select id="selectKeywordToon" parameterType="string" resultType="com.toonplus.toon.dto.Toon">
		SELECT TOON_LINK, TOON_IMAGELINK ,TOON_PLATFORM
		FROM toon_table
		WHERE Toon_name LIKE CONCAT('%', #{keyword}, '%')
	</select>

	<select id="tagKeywordToon" parameterType="string" resultType="com.toonplus.toon.dto.Toon">
		SELECT TOON_LINK, TOON_IMAGELINK ,TOON_PLATFORM
		FROM toon_table
		WHERE Toon_category LIKE CONCAT('%', #{keyword}, '%')
	</select>

	<select id="tagKeywordToonByName" parameterType="string" resultType="com.toonplus.toon.dto.Toon">
		SELECT TOON_LINK, TOON_IMAGELINK, TOON_PLATFORM
		FROM toon_table
		WHERE Toon_category LIKE CONCAT('%', #{keyword}, '%')
		ORDER BY Toon_name ASC
	</select>

</mapper>